*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #778799;
	color: rgb(209, 197, 197);
	padding: 0.5rem 1rem;
}

.navbar a {
	text-decoration: none;
}

.navbar .nav-links {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.navbar .nav-links a,
.navbar .nav-links button {
	background: none;
	border: 1px solid white;
	border-radius: 4px;
	color: white;
	padding: 0.5rem 1rem;
	text-decoration: none;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.navbar .nav-links a:hover,
.navbar .nav-links button:hover {
	background-color: white;
	color: #041d35;
}


.navbar .nav-links button {
	background-color: transparent;
	color: white;
	border-color: white;
}

.navbar .nav-links button:hover {
	color: #020c16;
	background-color: white;
	border-color: #020c16;
}
