.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.left-column {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-column {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
